#### Data Manipulation

In [2]:
import pandas as pd
import numpy as np

###### 1. Fundamentals: Series and DataFrame

In [5]:
# Creating a Series
s = pd.Series([1, 3, 5, np.nan, 6, 8])
print("Series:\n", s)

Series:
 0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [9]:
# Creating a DataFrame
data = {'column1': [1, 2, 3, 4],
        'column2': ['A', 'B', 'C', 'D'],
        'column3': [True, False, True, False]}
df = pd.DataFrame(data)
print("\nDataFrame:\n", df)

DataFrame:
    column1 column2  column3
0        1       A     True
1        2       B    False
2        3       C     True
3        4       D    False

###### 2. Basic Data Selection and Indexing

In [19]:
# Select a single column
print("\nSelect 'column1': \n", df['column1'])

Select 'column1':
 0    1
1    2
2    3
3    4
Name: column1, dtype: int64

In [ ]:
# Select multiple columns
print("\nSelect 'column2': \n", df['column1'])

*******************************************

In [ ]:
# Sample DataFrame 1
data1 = {
    'OrderID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'CustomerID': [101, 102, 101, 103, 102, 104, 101, 105, 103, 106],
    'Product': ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Laptop', 'Webcam', 'Mouse', 'Keyboard', 'Monitor', 'Laptop'],
    'Quantity': [1, 2, 1, 1, 1, 1, 3, 1, 2, 1],
    'Price': [1200, 25, 75, 300, 1200, 50, 25, 75, 300, 1200],
    'OrderDate': pd.to_datetime(['2023-01-10', '2023-01-11', '2023-01-10', '2023-01-12', '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16', '2023-01-17', '2023-01-18']),
    'Region': ['East', 'West', 'East', 'North', 'West', 'South', 'East', 'North', 'West', 'South'],
    'Discount': [0.05, 0.0, 0.10, 0.0, 0.05, 0.0, 0.10, 0.0, 0.0, 0.05],
    'ShippingCost': [15.0, 5.0, 10.0, 20.0, 15.0, np.nan, 5.0, 10.0, 20.0, 15.0] # Introducing a NaN for demonstration
}
df = pd.DataFrame(data1)

# Sample DataFrame 2 (for merging)
customer_data = {
    'CustomerID': [101, 102, 103, 104, 105, 106],
    'CustomerName': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Miami', 'Seattle']
}
df_customers = pd.DataFrame(customer_data)

print("Original DataFrame (df):")
print(df)
print("\nCustomer DataFrame (df_customers):")
print(df_customers)